.dailyReport {
  padding: 10px;
}
.dailyReport .dailyReport_text {
  margin-right: 10px;
}
.dailyReport .dailyReport_num {
  font-size: 1.2rem;
}
.dailyReport .date_block,
.dailyReport .day_block {
  text-align: right;
}
.dailyReport .date_block {
  font-size: 1rem;
}
.dailyReport .day_block {
  margin: 10px 0;
}
.dailyReport .wallet .m_card_body,
.dailyReport .dailyOutlay .m_card_body,
.dailyReport .dailyCost .m_card_body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dailyReport .wallet .m_card_body .dailyReport_text,
.dailyReport .dailyOutlay .m_card_body .dailyReport_text,
.dailyReport .dailyCost .m_card_body .dailyReport_text,
.dailyReport .wallet .m_card_body .dailyReport_text2,
.dailyReport .dailyOutlay .m_card_body .dailyReport_text2,
.dailyReport .dailyCost .m_card_body .dailyReport_text2 {
  position: relative;
  top: 0.25rem;
}
.dailyReport .wallet .m_card_body .dailyReport_text2,
.dailyReport .dailyOutlay .m_card_body .dailyReport_text2,
.dailyReport .dailyCost .m_card_body .dailyReport_text2 {
  margin-left: 5px;
}
.dailyReport .wallet .m_card_head {
  border: 0px;
}
.dailyReport .wallet .m_card_body {
  min-height: 4rem;
}
.dailyReport .dailyOutlay .m_card_body {
  min-height: 4rem;
  flex-direction: column;
  padding: 0.8rem 0.2rem;
  padding-bottom: 0.2rem;
}
.dailyReport .dailyOutlay .m_card_body > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dailyReport .dailyOutlay .m_card_body .outlayProgress {
  text-align: center;
}
.dailyReport .dailyOutlay .m_card_body .outlayProgress > div {
  flex-grow: 0;
  height: 30px;
  line-height: 30px;
}
.dailyReport .dailyOutlay .m_card_body .outlayProgress .outlayProgress_1 {
  color: #fff;
  background: #4c9034;
}
.dailyReport .dailyOutlay .m_card_body .outlayProgress .outlayProgress_2 {
  color: #fff;
  background: #995444;
}
.dailyReport .dailyOutlay .m_card_body .income {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0.2rem;
}
.dailyReport .dailyCost .m_card_body {
  min-height: 4rem;
  flex-direction: column;
}
.dailyReport .dailyCost .m_card_body .costNum {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dailyReport .dailyCost .costList_title {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.dailyReport .m_list {
  width: 100%;
}
.dailyReport .inout_list .m_card_left {
  top: 20px;
}
.dailyReport .inout_list .m_card_body {
  padding-top: 0.8rem;
}
.dailyReport .inout_list .m_list {
  padding: 0 0.8rem;
}
.dailyReport .inout_list .m_list_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
