html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial;
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"] {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  border: 0 !important;
}
.ajaxLoading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  z-index: 999;
  color: yellow;
}
.ajaxLoading .ajaxLoading_text {
  color: #fff;
  font-size: 2rem;
}
.bg {
  background: url('../img/1.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}
.bgCover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
body {
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
}
.title {
  text-align: center;
  height: 0.8rem;
  position: relative;
  font-size: 0.5rem;
  line-height: 0.8rem;
  margin: 15px;
}
.title_left {
  position: absolute;
  left: 0.1rem;
  top: 0;
  font-weight: bolder;
  font-size: 0.8rem;
}
.title_center {
  width: 100%;
  height: 100%;
  text-aligen: center;
}
.title_right {
  position: absolute;
  right: 0.1rem;
  top: 0;
  font-weight: bolder;
}
.m_inputGroup,
.m_btnGroup {
  width: 50%;
  margin: 0 auto;
}
.m_inputGroup .m_inputGroup_container,
.m_btnGroup .m_inputGroup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
}
.m_inputGroup .m_inputGroup_container label,
.m_btnGroup .m_inputGroup_container label {
  display: inline-block;
  width: 25%;
  text-align: left;
  letter-spacing: 2px;
}
.m_inputGroup .m_inputGroup_container input,
.m_btnGroup .m_inputGroup_container input {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-left: 5%;
  width: 70%;
  height: 30px;
  letter-spacing: 2px;
}
.m_inputGroup .m_btnGroup_container,
.m_btnGroup .m_btnGroup_container {
  display: flex;
  justify-content: space-around;
}
.m_inputGroup .m_btnGroup_container .m_btnGroup_btn,
.m_btnGroup .m_btnGroup_container .m_btnGroup_btn {
  padding: 10px 15px;
  border: 1px solid #fff;
}
.m_inputGroup .m_btnGroup_container .m_btnGroup_btn:active,
.m_btnGroup .m_btnGroup_container .m_btnGroup_btn:active {
  background: #fff;
  color: #000;
}
.m_block_btn {
  border: 1px solid;
  width: 80%;
  margin: 0 auto;
  padding: 0.2rem;
  font-size: 0.4rem;
  text-align: center;
  border-radius: 5px;
}
.m_block_btn:active {
  background: #fff;
  color: #000;
}
.m_card {
  color: #333333;
  background: #fff;
  border-radius: 5px;
  margin: 0.3rem 0;
}
.m_card > div {
  padding: 0.2rem;
  position: relative;
}
.m_card .m_card_head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.m_card .m_card_body .m_card_left {
  position: absolute;
  left: 10px;
  top: 10px;
}
.m_card .m_card_body .m_card_right {
  position: absolute;
  right: 10px;
  top: 10px;
}
.m_card .m_card_foot {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.m_card .m_card_foot,
.m_card .m_card_head {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0.8rem;
}
.m_card .m_card_foot .m_card_left,
.m_card .m_card_head .m_card_left {
  font-size: 12px;
  position: absolute;
  left: 10px;
}
.m_card .m_card_foot .m_card_right,
.m_card .m_card_head .m_card_right {
  font-size: 12px;
  position: absolute;
  right: 10px;
}
.m_card .m_card_center {
  margin: 0 auto;
}
.m_list .m_list_item {
  margin: 1rem 0;
}
.m_list .m_list_item .m_list_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m_list .m_list_item .m_list_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m_progress {
  background: #333;
  height: 8px;
  width: 100%;
  position: relative;
}
.m_progress .m_progress_bar {
  height: 100%;
  width: 30%;
  background: #3387ff;
}
.numkeyboardMask {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.numkeyboard {
  width: 100%;
  background: #333;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
td {
  width: 24%;
  height: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
}
td:active {
  background: #ccc;
  color: #000;
}
