.bgCover {
  background: rgba(0, 0, 0, 0.8);
}
.m_block_btn {
  margin-bottom: 0.5rem;
}
input {
  margin-bottom: 0 !important;
}
.secondCategory_1 {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 1rem;
  padding: 0 10px;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.secondCategory_1 .secondCategory_1_title {
  font-size: 1rem;
}
.secondCategory_1 .secondCategory_1_desc {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
}
.secondCategory_item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.setMoneyBtn,
.updateCategory,
.updateIncomeCategory {
  margin-bottom: 2rem;
}
