.body{
  overflow: hidden;
}

.firstLogin{
  z-index:9;
  display: none;
  position:absolute;
  left:0;top:0;
  width:100vw;min-height: 100vh;
  background:rgba(0,0,0,1);
  color:#ccc;
  font-size:15px;
  .title{
    font-size:24px;
  }
}
.firstLogin_container{
  margin:1rem 0.5rem;
  line-height: 28px;
  color:#aaa;
}
.finishBtn{
  margin-bottom:1rem;
}


.index{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}
.toolBar{
  position: absolute;
  width: 100%;
  top: 3px;
  height: 0.6rem;
  padding:0 5px;
}
//.toolBar_btn{
.moreSetting{
  border:1px solid ;
  padding:8px;
  float:right;
  font-size:10px;
}


.dailyInfo{
  padding:0 0.5rem;
  //display: flex;
  //justify-content: center;
  height: 2rem;
  line-height: 2rem;
  box-sizing: border-box;
}
.dailyInfo>div{
  display:inline-block;
  margin-right:0.2rem;
}
.dailyInfo_Num{
  font-size:1.2rem;
}
.dailyInfo_title{
  font-size: 0.5rem;
  position:relative;
  top:-0.1rem;
}

.timeInfo{

  .dailyInfo_Num{
      width:4.7rem;
  }
}

