.body {
  overflow: hidden;
}
.index {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}
.dailyInfo {
  padding: 0 0.5rem;
  height: 2rem;
  line-height: 2rem;
  box-sizing: border-box;
}
.dailyInfo > div {
  display: inline-block;
  margin-right: 0.2rem;
}
.dailyInfo_Num {
  font-size: 1.2rem;
}
.dailyInfo_title {
  font-size: 0.5rem;
  position: relative;
  top: -0.1rem;
}
.timeInfo .dailyInfo_Num {
  width: 4.7rem;
}
