input,select,textarea{
	background:rgba(0,0,0,0);
	border:0;
	color:#fff;
}

textarea{
	border:1px solid #ddd;
}

.feedBack_title{
    margin-top:10%;
    margin-bottom:10%
}
.feedBack_type label{
	width:40% !important;
}
.feedBack_type select{
	position:relative;
	top:6px;
}
.m_inputGroup{
	width:80%;
	margin-bottom:5%;
	
}
.feedBack_content{
	margin-top:10%;
}
.feedBack_content textarea{
	font-size:16px;
	padding:5px;
}

