.loginInput {
  margin-top: 50%;
  margin-bottom: 10%;
}
.passwordInput2,
.loginBtns {
  margin-top: 40px;
}
.firstLogin {
  z-index: 9;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background: #000000;
  color: #ccc;
  font-size: 15px;
}
.firstLogin .title {
  font-size: 24px;
}
.firstLogin_container {
  margin: 1rem 0.5rem;
  line-height: 28px;
  color: #aaa;
  margin-top: 3rem;
  font-family: 黑体;
}
.finishBtn {
  margin-bottom: 1rem;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding: 0;
}
